<div class="comments_section">
    <div class="comments_header">
        <div class="comments_title"> 0 комментариев</div>
    </div>
    <div class="comments_form">
        <form class="post_comment">
            <textarea id="text" rows="4" placeholder="Комментарий"></textarea>
        </form>
    </div>
    <div class="comments_tree">
        <%- include('../partials/comment'); %>
            <%- include('../partials/comment'); %>
    </div>
</div>