<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main>
        <div class="description">
            <h2>Error 404</h2>
            <p>
                Some error was found
            </p>
        </div>
    </main>
</body>

</html>